# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [2]:
x_0= "Hello World"
print(x_0)

Hello World

### Print a message

In [3]:
_x0="Welcome to the Python Programming language"
print(_x0)

Welcome to the Python Programming language

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [6]:
# 0_x="Python"
# A variable can NOT start with a digit

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [7]:
message= " Simple Message"
print(message)

 Simple Message

In [1]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
# make uppercase
message="PythOn PRoGraMiNG LanGuage"
print(message)
print("The Upper Case: ",message.upper())

PythOn PRoGraMiNG LanGuage
The Upper Case:  PYTHON PROGRAMING LANGUAGE

In [13]:
# make lowercase
print("The Lower Case: ",message.lower())

The Lower Case:  python programing language

In [14]:
# capitalize

print("the Capitalized case: ",message.capitalize())

the Capitalized case:  Python programing language

In [15]:
# title
print("The Title Case: ",message.title())

The Title Case:  Python Programing Language

In [19]:
# Concatination
message_new=message.lower()
print("Welcome to " + message_new)

Welcome to python programing language

In [22]:
# length
message_new
print(message_new)
len(message_new)

python programing language

26

### Format the string using f-string
`formatted string literals,` **f-strings** are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

In [24]:
name= "Sam"
age=20

In [26]:
print("The Name Is "+ name)

The Name Is Sam

In [29]:
# print("The Age Is " +age)
# Type error as we can not concatinate a string with a number/ integer
print("The age is",age)

The age is 20

In [30]:
print(f"The name is {name}. The age is {age}")

The name is Sam. The age is 20

In [32]:
number1= 45
number2= 57
print(f"The First number is {number1}. The second number is {number2}")
print(f"The multiplication of first and second number is {number1*number2}")

The First number is 45. The second number is 57
The multiplication of first and second number is 2565

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [43]:
name="AJ"
print(f"Hey {name}, your awesome and killing it in class and wrestling!")

Hey AJ, your awesome and killing it in class and wrestling!

In [46]:
name="AJ"
print(name.lower())
print(name.upper())
print(name.title())

aj
AJ
Aj

## Useful methods for split a string

In [47]:
print("Insert a newline character in a string.")

Insert a newline character in a string.

In [49]:
print("Insert \na \nnewline \ncharacter \nin \na \nstring.")

Insert
a
newline
character
in
a
string.

In [50]:
print("Insert \ta \tnewline \tcharacter \tin \ta \tstring.")

Insert 	a 	newline 	character 	in 	a 	string.

In [51]:
print("The student's name is : Eric")

The student's name is : Eric

In [54]:
print('The Student\'s name is : Eric.')

The Student's name is : Eric.

In [55]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
print(message)
message.split(sep= " ")
#message.split(sep=" ")

PythOn PRoGraMiNG LanGuage

['PythOn', 'PRoGraMiNG', 'LanGuage']

In [57]:
message.split(sep="P")

['', 'ythOn ', 'RoGraMiNG LanGuage']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [61]:
message1= " Python Programming Language "

In [ ]:
message1

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [1]:
#message_new.replace(`python`,`r`)
message= "Python Programming Language"
message=message.replace('python', 'java')
print(message)

Python Programming Language

#### Replacing words or characters of a string

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [2]:
# modulo
9%4

1

In [4]:
#floor division
9//4

2

## Avoiding type errors witht he str() Funtion
# How to concatenate an integer with a string

In [7]:
name= "Ella"
age= 20
print("The Name is: " + name + ". The age is " + str(age))

The Name is: Ella. The age is 20

In [8]:
type(age)

int

In [9]:
type(name)

str

In [10]:
type(str(age))

str

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [15]:
flower=input("Enter a flowers name: ")

KeyboardInterrupt: Interrupted by user

In [ ]:
first_name= input("Enter your first name: ")
last_name= input("Enter your last name: ")
print(f"the full name: {first_name} {last_name}")

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [ ]:
print(f"The addition: {53+38})

In [12]:
print(f"The Multiplication: {1*91}")

The Multiplication: 91

In [13]:
print(f"The Subtraction: {100-9}")

The Subtraction: 91

In [14]:
print(f"The division: {182/2}")

The division: 91.0

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [16]:
number1=int(input("Enter an integer: "))
number2= float(input("Enter a floating point number: "))
print(f"The first number {number1}. The second number {number2}.")
print(f"The multiplication result is : {number1*number2}")

Enter an integer: 50
Enter a floating point number: 30
The first number 50. The second number 30.0.
The multiplication result is : 1500.0

In [20]:
number3=int(input("Enter an integer number: "))
print(number3)

Enter an integer number: 20
20

## Checking the data type using `type` function

In [21]:
type(number3)

int

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [26]:
#print("This is an error message)
# fix
print("This is an error message")

This is an error message

In [28]:
#len('hello')=5

In [29]:
print(6/0)

ZeroDivisionError: division by zero

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

In [34]:
total= float(input("Enter the amount you spent: "))
tax=.06*Total
print(f"The subtotal is: {total+tax}")

Enter the amount you spent: 50

NameError: name 'Total' is not defined

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [32]:
number = 23
number2= 56
print(f"The addition of two numbers is {number*number} ")

The addition of two numbers is 529